# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/pets-webapp/target/*
/pets-biz/target/*
/pets-webapp/src/main/webapp/WEB-INF/classes/*
pets-dao/target/*
pets-tool/target/*
pets-utils/target/*
