<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Archetype Created Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:*_config.xml</param-value>
    </context-param>
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <async-supported>true</async-supported>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
    </listener>

    <!--<filter>-->
        <!--<async-supported>true</async-supported>-->
        <!--<filter-name>CommonFilter</filter-name>-->
        <!--<filter-class>com.badu.btsaas.filter.CommonFilter</filter-class>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>CommonFilter</filter-name>-->
        <!--<url-pattern>*</url-pattern>-->
    <!--</filter-mapping>-->

    <!--&lt;!&ndash; 自动登录处理过滤器 &ndash;&gt;-->
    <!--&lt;!&ndash; <filter>-->
         <!--<async-supported>true</async-supported>-->
         <!--<filter-name>AutoFilter</filter-name>-->
         <!--<filter-class>com.badu.btsaas.filter.AutoFilter</filter-class>-->
     <!--</filter>-->
     <!--<filter-mapping>-->
         <!--<filter-name>AutoFilter</filter-name>-->
         <!--<url-pattern>*</url-pattern>-->
     <!--</filter-mapping> &ndash;&gt;-->



    <!--<filter>-->
        <!--<async-supported>true</async-supported>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<filter-class>com.badu.btsaas.filter.AuthFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>APPCD</param-name>-->
            <!--<param-value>BDSAAS</param-value>-->
        <!--</init-param>-->
        <!--<init-param>-->
            <!--<param-name>URL_SESSION_INVALID_JSON</param-name>-->
            <!--<param-value>^/ajax/.*$</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->

    <!--<filter-mapping>-->
        <!--<filter-name>AuthFilter</filter-name>-->
        <!--<url-pattern>*.do</url-pattern>-->
    <!--</filter-mapping>-->



    <!--<servlet>  -->
    <!--<servlet-name>Kaptcha</servlet-name>  -->
    <!--<servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>  -->
    <!--</servlet>  -->
    <!--<servlet-mapping>  -->
    <!--<servlet-name>Kaptcha</servlet-name>  -->
    <!--<url-pattern>/kaptcha.jpg</url-pattern>  -->
    <!--</servlet-mapping>  -->


    <servlet>
        <servlet-name>SpringMVC</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:spring-mvc.xml,classpath:job_task.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>SpringMVC</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>



    <session-config>
        <session-timeout>1440</session-timeout>
    </session-config>




    <welcome-file-list>
        <!--<welcome-file>/index.html</welcome-file>-->
        <welcome-file>/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>